.branding-header {
  max-width: 800px;
  margin: 0 auto;
}

.welcome-title {
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 1.4;
  text-align:  left;
}

.city-name {
  color: #d32f2f; /* Warna merah mirip seperti pada gambar */
  text-align: left;
}

.description-text {
  font-size: 0.8rem;
  color: #6c757d; /* Warna abu-abu ringan */
  margin-top: 1rem;
  text-align: left;
}

button.btn-danger {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: left;
}

.button-container {
  display: flex;
  justify-content: flex-start; /* Geser tombol ke kiri */
}
