.custom-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Pastikan elemen di tengah secara vertikal */
  padding: 30px 42px; /* Sesuaikan padding */
  gap: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%; /* Memastikan navbar memenuhi lebar */
  z-index: 1000; /* Agar tetap di atas konten lain */
  transition: background-color 0.3s ease;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo1 {
  height: 40px; /* Ukuran logo pertama */
}

.logo2 {
  height: 35px; /* Ukuran logo kedua */
} 

.navbar-nav .nav-link {
  margin-left: 20px;
  font-weight: 500;
  color: #333333;
}

.navbar-nav .nav-link:hover {
  color: #dc3545; /* Warna hover */
}

.navbar-nav .nav-link.active {
  color: #dc3545; /* Warna merah untuk link aktif */
}

.btn-outline-danger {
  margin-left: 20px;
}

