.custom-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Pastikan elemen di tengah secara vertikal */
  padding: 10px 42px; /* Sesuaikan padding */
  gap: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft drop shadow */
  position: fixed;
  width: 100%; /* Memastikan navbar memenuhi lebar */
  z-index: 1000; /* Agar tetap di atas konten lain */
  transition: background-color 0.3s ease;
}

.logo {
  display: flex;
  align-items: center;
}

.custom-navbar .nav-link {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #2D2D2D;
  padding: 0 10px; /* Padding horizontal untuk link */
  transition: border-bottom 0.3s ease;
}

.custom-navbar .nav-link:hover {
  border-bottom: 2px solid #2D2D2D; /* Garis bawah saat hover */
}

.custom-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

/* Hamburger menu styles */
.navbar-toggler-icon {
  background-image: none; /* Menghapus ikon default */
}

/* Toggle button styles */
.navbar-toggler {
  border: none; /* Menghapus border */
}
